.App {
  text-align: center;
}

header {
  font-weight: bold;
  font-size: 1.1em;
  margin-top: 12px
}

.mainContainer {
  position: relative;
}

.listHeader {
  display: flex;
  justify-content:space-between;
  padding: 0 10% 0 10%;
}

.addSection {
  margin: 16px 10% 0px;
  border: 3px solid rgb(121, 125, 132);
}

.modal-open {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;  
}

.open {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  background-color: white;
}

.hiddenButton {  
  background-color: rgba(139, 139, 139, 0.443);
  z-index: 9999; 
}

.addForm { 
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.addItem {
  display: flex;
  margin: 8px;
  flex-direction: column;
}

#expensePrice { width: 100px }

#expenseDetails { 
  min-width: 80px;
  max-width: 320px; 
}

.addItem label {
  padding-bottom: 4px;
  text-align: left;
}

.addButton {
  padding: 4px;
  align-self: center;
}

.expenseShown {
  table-layout: fixed;
  width: 80%;
  margin: 10px auto 0;
  border-collapse: collapse;  
}

.expenseShown td, th {
  border: 1px solid black;
  padding: 8px;
}