.App {
  text-align: center;
}

header {
  font-weight: bold;
  font-size: 1.1em;
  margin-top: 16px
}

.mainContainer {
  position: relative;
}

.listHeader {
  display: flex;
  justify-content:space-between;
  padding: 0 10% 0 10%;
}

.addWindow {
  border: 3px solid rgb(121, 125, 132);
  padding: 0 16px 12px;
}

.modal-open {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;  
}

.open {
  display: block;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  background-color: white;
}

.btn {
  padding: 4px;
  align-self: center;
}

.hidden {
  display: none;
}

.hiddenButton {  
  background-color: rgba(139, 139, 139, 0.443);
  z-index: 9999; 
}

.flexContainer { 
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.addItem {
  display: flex;
  margin: 16px 16px 40px 16px;
  flex-direction: column;
}

.addItem input {
  height: 24px;
}

.addItem select {
  height: 30px;
}

.addActions {
  justify-content: end;
  margin-bottom: 8px;
}

.addActions :last-child {
  margin: 0 16px;
}

#expensePrice { width: 100px }

#expenseDetails { 
  width: 240px;
  margin-right: 2px;
}


.addItem label {
  padding-bottom: 6px;
  text-align: left;
}

.expenseShown {
  table-layout: fixed;
  width: 80%;
  margin: 10px auto 0;
  border-collapse: collapse;  
}

.expenseShown td, th {
  border: 1px solid black;
  padding: 8px;
}